---
import Layout from '@/layouts/Layout.astro'
import { MobileNav } from '@/components/MobileNav'
import Footer from '@/components/Footer.astro'
import UserDashboard from '@/components/Dashboard'
import { getUserCourses } from '@/lib/helpers/getUserCourses'


const isAuthenticated = Astro.locals.authStatus === 'signed-in'
if (!isAuthenticated) {
  return Astro.redirect('/')
}

const userId =
  (await Astro.locals.currentUser().then((user) => user?.id)) ?? null

if (!userId) {
  return Astro.redirect('/')
}

const userCourses = await getUserCourses(userId)
---

<Layout
  title="LearnIt"
  description="LearnIt is a platform that uses AI to generate personalized learning experiences."
>
  <div
    class="min-h-screen bg-gradient-to-b from-purple-100 to-white text-gray-900 dark:from-gray-900 dark:to-gray-800 dark:text-gray-100"
  >
    <MobileNav
      isAuthenticated={Astro.locals.authStatus === 'signed-in'}
      client:load
    />

    <UserDashboard client:load courses={userCourses} />
  </div>
  <Footer />
</Layout>
